:root {
  --primary-color: #487eb0;
  --secondary-color: #192a56;
  --bacground-color: #ecf2f5;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --logo-font-family: "Aguafina Script", cursive;
  --default-font: "League Spartan", sans-serif;
  --heading-font: "Playfair Display", serif;
  --img-border-radius: 20px;
}

body {
  font-family: var(--default-font);
  margin: 80px 0 0;
}

h1,
h2,
h3,
h4 {
  font-family: var(--heading-font);
  font-weight: 700;
  color: var(--secondary-color);
  line-height: 1.5;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

p {
  font-size: 20px;
  line-height: 30px;
}

header {
  margin: 120px 0 50px;
}
header h1 {
  padding-top: 70px;
  font-size: 62px;
}

footer .social-media-icons a {
  margin: 10px;
  font-size: 18px;
  min-width: 40px;
  min-height: 40px;
  border-radius: 50%;
  color: var(--primary-color);
  transition: all 150ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

footer .social-media-icons a:hover {
  color: var(--bacground-color);
  background: var(--primary-color);
}

footer .footer-invitation {
  margin: 10px 100px;
}

footer .contact-footer {
  background: var(--bacground-color);
  padding: 30px 20px;
}

footer .open-source-p {
  font-size: 15px;
  text-align: center;
  margin: 70px 0 20px;
}

footer .open-source-link {
  font-weight: bold;
  font-family: var(--heading-font);
  color: var(--primary-color);
  text-decoration: none;
  transition: all 100ms ease-in-out;
}

footer .open-source-link:hover {
  color: var(--secondary-color);
}

.hero {
  background: var(--bacground-color);
  padding: 80px 20px;
}

.hero h3 {
  opacity: 0.7;
}

.hero-btns {
  display: flex;
  margin: 40px 0;
  justify-content: center;
}

.btn-porjects,
.btn-principal,
.hero-btns a {
  margin: 20px;
  border-radius: 30px;
  padding: 15px 30px;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 20px;
  line-height: 1.5;
  transition: all 200ms ease-in-out;
}

.btn-porjects {
  margin: 0;
}

.btn-porjects,
.btn-contact {
  background: var(--primary-color);
  color: white;
}

.btn-principal:hover,
.btn-about:hover {
  background: var(--primary-color);
  color: white;
  border: 1px solid var(--primary-color);
}

.btn-principal,
.btn-about {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.work-btn,
.btn-porjects:hover,
.btn-contact:hover {
  color: var(--primary-color);
}

.project {
  margin-bottom: 90px;
}

.project-background {
  background: var(--bacground-color);
  padding: 90px 30px;
  border-radius: var(--img-border-radius);
}

.project-description {
  padding: 85px 55px;
}

.project-imgs-home {
  box-shadow: var(--box-shadow);
  border-radius: 20px;
}

.project-imgs {
  display: block;
  margin: 0;
  width: 400px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
  color: var(--primary-color);
}

.experience {
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
}

.experience p {
  line-height: 25px;
  text-align: center;
}

.work-container {
  margin: 0 0 100px 0;
}

.work-container h3 {
  font-size: 30px;
  line-height: 1;
  margin: 20px 0 0;
  text-align: center;
  font-family: var(--default-font);
  color: var(--secondary-color);
  font-weight: 800;
}

.work-container p {
  text-align: center;
  font-size: 18px;
  line-height: 1.5;
  opacity: 0.7;
}

.work-img {
  width: 500px;
  display: block;
  margin: auto;
  box-shadow: var(--box-shadow);
  border-radius: var(--img-border-radius);
}

.work-btn {
  text-align: center;
  margin-bottom: 30px;
}

.social-media {
  text-align: center;
  margin: 100px 0;
}

.social-media-icon {
  font-size: 50px;
  color: var(--primary-color);
  margin: 10px 0;
}

.cal {
  position: fixed;
  display: inline-block;
  bottom: 100px;
  right: 90px;
}

.arrow-icon {
  display: block;
  margin: 0;
  text-align: center;
}

.Esther {
  font-weight: 500;
  color: var(--secondary-color);
  font-size: 21px;
}

.Esther-img {
  margin: 30px;
  width: 500px;
  border-radius: 25px;
  box-shadow: var(--box-shadow);
}

.head-logo {
  font-family: var(--logo-font-family);
  font-size: 30px;
  line-height: 1.5;
  color: var(--primary-color);
  padding: 20px 0 12px 15px;
}

.head-logo:hover {
  color: var(--primary-color);
}

.nav-link {
  font-size: 20px !important;
  color: black;
}

.active {
  color: var(--primary-color) !important;
}

.navbar {
  backdrop-filter: blur(10px);
  border-bottom: 2px solid rgba(255, 255, 255, 0.4);
  background: "rgba(255,255,255,0.5)";
}

.navbar-nav li a:hover {
  color: var(--primary-color) !important;
}

@media (max-width: 580px) {
  h1 {
    font-size: 48px;
    line-height: 1.5;
  }

  h2 {
    font-size: 30px;
    text-align: center;
  }

  p {
    text-align: center;
    font-size: 13px;
  }

  .navigation-links {
    margin: 40px 0;
  }

  .btn-principal {
    text-align: center;
    display: block;
    margin: 0 40px;
  }

  .projects {
    margin: 50px 0;
  }

  .origins-text {
    margin: 0;
  }

  .cal {
    position: fixed;
    display: inline-block;
    bottom: 90px;
    right: 60px;
  }
}
